@import 'tailwindcss';
@config '../tailwind.config.js';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  section[id] {
    scroll-margin-top: 5.75rem;
  }

  @media (min-width: 768px) {
    section[id] {
      scroll-margin-top: 6rem;
    }
  }

  body {
    @apply m-0 bg-background font-body font-normal text-text-primary antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-text-primary;
  }
}
